<div data-role="page">
	<div data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
		<a href="javascript:history.back()" data-role="button" data-mini="true" class="ui-btn-left" data-icon="arrow-l">
		Go Back
		</a>
		<h1>Bill #: {{bill.bill_number}}</h1>
	</div>
	<div data-role="content" data-theme="a">
		<form action="{% url 'update_bill' bill.id %}" method="post">
			{% csrf_token %}
			<fieldset data-role="controlgroup">
				<legend>Update Bill Status:</legend>
				{% for status in statii %}
					{% if status.value == bill.status %}
						<input type="radio" name="status" id="{{status.value}}"
						value="{{status.value}}" checked="checked"/>
					{% else %}
						<input type="radio" name="status" id="{{status.value}}"
						value="{{status.value}}"/>
					{% endif %}
					<label for="{{status.value}}">{{status.name}}</label>
				{% endfor %}
			</fieldset>
			Comment:
			<input type="text" value="{{bill.comment}}" name="comment">
			<input type="submit" value="Update" data-theme="c"/>
		</form>
	</div>
	<div data-role="footer" data-position="fixed">
		{% include 'screen_navbar.html' %}
	</div>	
</div>
