<li>
	<a href="{% url 'bill_details' bill.id %}">
		<h3>Bill #: {{bill.bill_number}}</h3>
		<span class="order_id" style="display: none;">{{bill.id}}</span>
		<p class="ui-li-desc">Status: {{bill.status}}</p>
	</a>
	<div class="split-custom-wrapper">
		<a href="" data-role="button" class="split-custom-button" data-rel="dialog" data-theme="c" data-iconpos="notext" data-icon="plus"></a>
		<a href="{% url 'orders_bill_number' bill.bill_number %}" data-role="button" class="split-custom-button" data-rel="dialog" data-theme="c" data-iconpos="notext" data-icon="info"></a>
	</div>
</li>
