<div data-role="page">
	<div data-role="header" data-theme="f" data-position="fixed" data-tap-toggle="false">
		<a href="{% url 'orders' %}" data-role="button"
		data-theme="f" data-icon="arrow-l">Back to orders</a>
		<h1>Filter Orders</h1>
	</div>
	<div data-role="content">
		<form id="filter_orders" action="{% url 'orders' %}"
		method="post">
			{% csrf_token %}
			<fieldset data-role="controlgroup" data-type="horizontal" data-theme="a">
				<legend>Filter by order status</legend>
				{% for status in statii %}
					{% if status.id == '_placed_' %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom" checked="checked"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% else %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% endif %}
				{% endfor %}
			</fieldset>
			
			<fieldset data-role="controlgroup" data-type="horizontal" data-theme="a">
				<legend>Filter by bill status</legend>
				{% for status in bill_statii %}
					<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom"
					data-mini="true" data-theme="a"/>
					<label for="{{status.id}}">{{status.name}}</label>
				{% endfor %}
			</fieldset>
			
			<label for="menus">Filter by Menu</label>
			<select multiple="multiple" data-native-menu="false" name="menus" id="menus" data-mini="true">
				<option value="">Menu:</option>
				{% for menu in menus %}
					<option value="{{ menu.id }}">{{ menu.title }}</option>
				{% endfor %}
			</select>
			
			<label for="seats">Filter by Seats</label>
			<select multiple="multiple" data-native-menu="false" name="seats" id="seats" data-mini="true">
				<option value="">Seats:</option>
				{% for seat in seats %}
					<option value="{{ seat }}">{{ seat }}</option>
				{% endfor %}
			</select>
			
			<label for="seats">Filter by Path</label>
			<select multiple="multiple" data-native-menu="false" name="paths" id="paths" data-mini="true">
				<option value="">Paths:</option>
				{% for path in paths %}
					<option value="{{ path }}">{{ path }}</option>
				{% endfor %}
			</select>
			
			<label for="bill_number">Filter by Bill #</label>
			<input type="number" name="bill_number" id="bill_number" value="">
			
			<button type="submit" data-theme="b">Show Orders</button>
		</form>
		</div>
	<div data-role="footer">
	</div>
</div>
