<div data-role="page">
	<div data-role="header" data-theme="f" data-position="fixed" data-tap-toggle="false">
		<a href="{% url 'bills' %}" data-role="button"
		data-theme="f" data-icon="arrow-l">Back to bills</a>
		<h1>Filter Bills</h1>
	</div>
	<div data-role="content">
		<form id="filter_orders" action="{% url 'bills' %}"
		method="post">
			{% csrf_token %}
			<fieldset data-role="controlgroup" data-type="horizontal" data-theme="a">
				<legend>Filter by status</legend>
				{% for status in statii %}
					{% if status.id == '_not verified_' %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom" checked="checked"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% else %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% endif %}
				{% endfor %}
			</fieldset>
			
			<button type="submit" data-theme="b">Show Bills</button>
		</form>
		</div>
	<div data-role="footer">
	</div>
</div>
