<div data-role="page">
	<div data-role="header" data-theme="f" data-position="fixed" data-tap-toggle="false">
		<a href="{% url 'bills' %}" data-role="button"
		data-theme="f" data-icon="arrow-l">Back to bills</a>
		<h1>Filter Bills</h1>
	</div>
	<div data-role="content">
		<form id="filter_orders" action="{% url 'bills' %}"
		method="post">
			{% csrf_token %}
			<fieldset data-role="controlgroup" data-type="horizontal" data-theme="a">
				<legend>Filter by status:</legend>
				{% for status in statii %}
					{% if status.id == '_not verified_' %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom" checked="checked"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% else %}
						<input type="checkbox" name="{{status.id}}" id="{{status.id}}" class="custom"
						data-mini="true" data-theme="a"/>
						<label for="{{status.id}}">{{status.name}}</label>
					{% endif %}
				{% endfor %}
			</fieldset>
			
			<label for="bill_number">Filter by Bill #:</label>
			<input type="number" name="bill_number" id="bill_number" value="">
			
			<label for="seats">Filter by Seats</label>
			<select multiple="multiple" data-native-menu="false" name="seats" id="seats" data-mini="true">
				<option value="">Seats:</option>
				{% for seat in seats %}
					<option value="{{ seat }}">{{ seat }}</option>
				{% endfor %}
			</select>
			
			<button type="submit" data-theme="b">Show Bills</button>
		</form>
		</div>
	<div data-role="footer">
	</div>
</div>
