<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>FOODIE Ordering Service</title>
		{% load staticfiles %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="extra_headtag" content="" />
		<meta name="title" content="FOODIE Ordering Service" />
		<meta name="keywords" content="foodie, ordering, service, qr, smartphone, digital menu, qr code, webapp, venezuela" />
		<meta name="description" content="foodie Ordering Service description" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="viewport" content="width=1100, height=3200, minimum-scale=0.25, maximum-scale=3" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="target-densitydpi=device-dpi" />
		<link id="favicon" rel="shortcut icon" href="" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/slideshow_186.js' %}"></script>
		<script> function init(){slideshow.init();} </script>
		<link type="text/css" rel="Stylesheet" href="{% static 'styles/slideshow.css' %}" />
	</head>
	<body>
		<div id='strechedBg' bgWidth='1200' bgHeight='800'>
			<img id='strechedImg' src='http://lh3.ggpht.com/6PvzZdXl4FjsUpy4kMTxBDfxLINaE4Rf1b7ztHzzzKHt0FXhF3hDz5ZkbcDYIFjVkj3cqg2VkhRDlftwBqenXEAzrw=s1200'></img>
		</div>
		<div class='wrapperer'>
			<div class='page' style='position:relative;margin:0px auto;width:1100px;height:3200px;overflow:hidden;overflow:visible;'>
				<div class='WebsiteMenuBox '  style='position:absolute;left:1061px;top:-29px;z-index:20000;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:43px;height:28px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:87px;height:28px;'>
					<style>.WebsiteMenuBox li, a { -webkit-transition-property:color, background; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, ease-in;} .WebsiteMenuBox li {float:left;text-decoration: none;padding-bottom:15px;padding-top:15px;padding-right:17px;padding-left:17px;margin-bottom:5px;margin-right:5px;font-size:undefined;color:rgb(217, 213, 217);font-family:Times New Roman, TimesNewRomanRegular, Times, serif;letter-spacing:0px;background-color:rgb(20, 20, 20);direction:ltr;} .WebsiteMenuBox li:hover {color:rgb(247, 247, 247);background-color:rgb(24, 49, 66);}.WebsiteMenuBox li a:link {color:rgb(217, 213, 217);}.WebsiteMenuBox li a:visited {color:rgb(217, 213, 217);}.WebsiteMenuBox li a:hover {color:rgb(247, 247, 247);}.WebsiteMenuBox li a:active {color:rgb(217, 213, 217);}.WebsiteMenuBox li:hover a {color:rgb(247, 247, 247) !important;}</style>
					<ul id='topnav' style='float:left; padding: 0px; margin: 0px;'>
					</ul>
				</div>
				<div class='ParagraphBox '  style='position:absolute;left:236px;top:968px;z-index:10009;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:672px;height:425px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:643px;height:425px;overflow:hidden;'>
					<div class='innerText'>
						<p style="text-align: center;"><span style="font-size:36px;"><span style="font-family:nevisbold;">
							About us
						</span></span></p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;"><span style="background-color: transparent; color: rgb(105, 105, 105); font-family: 'times new roman', timesnewromanregular, times, serif; font-size: 26px; line-height: 1.2;">*</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							FOODIE Ordering Service, Is a Venezuelan based company whose vision it is to bring technology to a business has been the same for centuries.
						</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p style="text-align: justify;"><span style="color:#696969;"><span style="font-family:arial,arialregular,helvetica,sans-serif;"><span style="font-size: 14px; background-color: transparent; line-height: 1.2;">
							Our Service provides a new way for restaurants to place orders in a fast, reliable and techy way that will bring a fresh new life to the organization.
						</span></span></span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p><br>&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							FOODIE Ordering Service, es una compa&ntilde;ia con sede en Venezuela, cuya visi&oacute;n es llevar la tecnolog&iacute;a a un negocio que ha mantenido igual durante siglos.
						</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p style="text-align: justify;"><span style="color:#696969;"><span style="font-family:arial,arialregular,helvetica,sans-serif;"><span style="font-size: 14px; background-color: transparent; line-height: 1.2;">
							Nuestro servicio ofrece una nueva forma para hacer perdidos en los restaurantes de una forma r&aacute;pida, fiable y tecnologica que traer&aacute; una nueva brisa de vida a la organizaci&oacute;n.
						</span></span></span></p>
						<p>&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class="" style="position:absolute;left:187px;top:1120px;z-index:10011;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:818px;height:194px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:780px;height:194px;"><div class="dotted" style="position:absolute; left:250px; top:97px ; width:200px ; height:50%; border-top: 1px solid; border-color: rgb(128, 128, 128)"></div>
				</div>
				<div class='ParagraphBox '  style='position:absolute;left:9px;top:0px;z-index:10007;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:1145px;height:129px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:1093px;height:129px;overflow:hidden;'>
					<div class='innerText'>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;"><font color="#ffffff" face="nevisbold" size="7"><span style="line-height: 57.599998474121094px;">
							FOODIE
						</span></font></p>
						<p style="text-align: center;"><span style="letter-spacing:14px;"><span style="color:#808080;"><span style="font-family:times new roman,timesnewromanregular,times,serif;"><em><span style="line-height:1.2;"><span style="font-size:28px;">
							Ordering Service
						</span></span></em></span></span></span></p>
						<p>&nbsp;</p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;">&nbsp;</p>
					</div>
				</div>
				<div class='' style='position:absolute;left:-3px;top:2327px;z-index:10001;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:1143px;height:626px;overflow:hidden;background-color:rgba(133, 122, 77 , 0.9);background-position-x:undefined;background-position-y:undefined;background-repeat:undefined;background-attachment:undefined;border-width:0px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:1090px;height:626px;'>
				</div>
				<div class='' style='position:absolute;left:-2px;top:857px;z-index:10003;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:1147px;height:631px;overflow:hidden;background-color:rgba(255, 255, 255 , 0.85);background-position-x:undefined;background-position-y:undefined;background-repeat:undefined;background-attachment:undefined;border-width:0px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:1093px;height:631px;'>
				</div>
				<div class='' style='position:absolute;left:-3px;top:1587px;z-index:10004;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:1148px;height:629px;overflow:hidden;background-color:rgba(0, 0, 0 , 0.9);background-position-x:undefined;background-position-y:undefined;background-repeat:undefined;background-attachment:undefined;border-width:0px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:1094px;height:629px;'>
				</div>
				<div class='ParagraphBox '  style='position:absolute;left:221px;top:1684px;z-index:10008;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:670px;height:431px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:641px;height:431px;overflow:hidden;'>
					<div class='innerText'>
						<p style="text-align: center;"><span style="font-size:36px;"><span style="color:#FFFFFF;"><span style="font-family:nevisbold;">
							Our Services
						</span></span></span></p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;"><span style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'times new roman', timesnewromanregular, times, serif; font-size: 26px; line-height: 1.2;">*</span></p>
						<p>&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							FOODIE Ordering Service, is a cloud based platform that brings the menu of your restaurant directly to your customers smartphone, without having to go through the painful process of installing anything.
						</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							Our virtual waiters bring your customers orders directly to your kitchen at the speed of light. And they will never be so busy to make anyone wait.
						</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p>&nbsp;</p>
						
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							FOODIE Ordering Service, es una plataforma en la nube que trae el men&uacute; de su restaurant directamente al tel&eacute;fono de sus clientes, sin tener que pasar por el doloroso proceso de instalar nada.
						</span></p>
						<p style="text-align: justify;">&nbsp;</p>
						<p style="text-align: justify;"><span style="font-size: 14px; line-height: 1.2; font-family: arial, arialregular, helvetica, sans-serif; color: rgb(105, 105, 105); background-color: transparent;">
							Nuestros camareros virtuales traen las ordenes de sus clientes directamente a su cocina a la velocidad de la luz. Y nunca estaran tan ocupados que haran esperar a alguien.
						</span></p>
						<p>&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px;">&nbsp;</p>
						<p>&nbsp;</p>
					</div>
				</div>
				<div class='PictureBox ' itemclicktype='email' social='false' style='position:absolute;left:242px;top:2800px;z-index:10010;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;width:80px;height:47px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:77px;height:47px;'>
					<a href='mailto:' target='_blank' title=''>
						<div class='inner-visible' style='position:relative;width:77px;height:47px;'>
							<IMG realWidth='600' cropX='7.5' cropY='-0.004' realHeight='455' originalSrc='http://lh6.ggpht.com/w27oqH5quYWnBpF3LE4_BumudZ0TEjAHxR5Ef4f6Ep8wEkZbYJwNrcA_AAfSKlhtkjMbpWW2JPmXLS5jmgXSZbz6vTw=s62' src='http://lh6.ggpht.com/w27oqH5quYWnBpF3LE4_BumudZ0TEjAHxR5Ef4f6Ep8wEkZbYJwNrcA_AAfSKlhtkjMbpWW2JPmXLS5jmgXSZbz6vTw=s62' style='position:absolute;left:8px;top:0px;width:62px;height:47px;'></IMG>
						</div>
					</a>
				</div>
				<div class="" style="position:absolute;left:187px;top:1835px;z-index:10011;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:818px;height:194px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:#000000;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:780px;height:194px;"><div class="dotted" style="position:absolute; left:250px; top:97px ; width:200px ; height:50%; border-top: 1px solid; border-color: rgb(128, 128, 128)"></div>
				</div>
				<div class='ParagraphBox '  style='position:absolute;left:-4px;top:2417px;z-index:10005;padding-left:25px;padding-right:25px;padding-top:25px;padding-bottom:25px;width:525px;height:310px;overflow:hidden;border-width:0px;border-style:solid;border-color:transparent;border-color:rgb(0, 0, 0);-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;width:503px;height:310px;overflow:hidden;'>
					<div class='innerText'>
						<p style="margin-left: 0px; margin-top: 0px; text-align: center;"><span style="font-size:36px;"><span style="color:#FFFFFF;"><span style="font-family:nevisbold;"><span style="line-height: 180%;">
							Contact
						</span></span></span></span></p>
						<p style="margin-left: 0px; margin-top: 0px; text-align: center;">&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px; text-align: center;"><span style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'times new roman', timesnewromanregular, times, serif; font-size: 26px; line-height: 1.2;">*</span></p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">Leave us a message</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">and as soon as we</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">are ready for production</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">we will let you know.&nbsp;</span></p>
						<p style="text-align: center;">&nbsp;</p>
						<p style="margin-left: 0px; margin-top: 0px; text-align: center;"><span style="background-color: transparent; color: rgb(255, 255, 255); font-family: 'times new roman', timesnewromanregular, times, serif; font-size: 26px; line-height: 1.2;">*</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">Dejanos un mensaje</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">y en cuanto estemos</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">listos para producci&oacute;n</span></p>
						<p style="text-align: center;"><span style="color: rgb(255, 255, 255); font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; line-height: 1.2; background-color: transparent;">te avisaremos.&nbsp;</span></p>
					</div>
				</div>
				<div class='ContactFormBox ' defaultMsg='Your message has been sent!\nThank you!'' style='position:absolute;left:647px;top:2500px;z-index:10012;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;width:303px;height:290px;overflow:hidden;border-width:1px;border-style:solid;border-color:transparent;width:288px;height:288px; '><div class='inner'>
					<div class='results'>
						<div class='errorlist'></div>
						<div class="outcome"></div>
					</div>
					<form class="form" action="" method="post">
						{% csrf_token %}
						<div class="input-wrapper input1" >
							<input style="background-color:#E0E0E0;border-color:#909090;color:#202020;resize:none;" class="name field" type="text" name="name" defaultValue="Name (Optional)" value="Name (Optional)"/>
						</div>
						<div class="input-wrapper input2" >
							<input style="background-color:#E0E0E0;border-color:#909090;color:#202020;resize:none;" class="email field" type="text" name="email" defaultValue="Email" value="Email" />
						</div>
						<div class="input-wrapper input3" >
							<input style="background-color:#E0E0E0;border-color:#909090;color:#202020;resize:none;"class="phone field" type="text" name="phone" defaultValue="Phone Number (Optional)" value="Phone Number (Optional)"/>
						</div>
						<div class="input-wrapper textarea" >
							<textarea  style="background-color:#E0E0E0;border-color:#909090;color:#202020;resize:none;" class="msg field" rows="3" name="msg" defaultValue="Message" value="Message">Message</textarea>
						</div>
						<div class="input-wrapper submit" >
							<input  style="background-color:#404040;color:#FFFFFF;" class="button" type="submit" value="Submit" />	
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>init()</script>
	</body>
</html>