<!DOCTYPE html>
<html> 
	<head>
		<title>{{title}}</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'themes/geekbar-orders.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'styles/orders.css' %}" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div id="refresh_container">
			{% include template %}
		</div>
		<script type='text/javascript'>
			(function poll(){
				setTimeout(function(){
					$('#refresh_container').load(' screen_refresh/', function() {poll();});
					/*$.ajax({ 
						//dataType: "json",
						url: "screen_refresh/", 
						success: function(data){
							//Setup the next poll recursively
							
							if ( $('li').length != data.orders.length ){
								add_order(data);
							};
							$('#refres_container').load(data);
							poll();
						}
					});*/
				}, 7830);
			})();
			function add_order(data) {
				var array_of_orders_id = [];
				var data_ids = [];
				$('li .order_id').each(function(){
					array_of_orders_id.push($(this).text());
				});
				for ( var i in data.orders){
					var this_order = $.parseJSON(data.orders[i]);
					var order_id = this_order.id;
					data_ids.push(order_id);
					var signal = $.inArray(order_id, array_of_orders_id);
					if ( signal == -1 ) {
						$('ul').append('<li class="ui-li-has-alt ui-li-has-count ui-last-child"><a href="/order/'+ this_order.id +'" class="ui-btn"><h3>'+ this_order.item_name +'</h3><div class="ui-li-count ui-body-a">'+ this_order.quantity +'</div><span class="order_id" style="display: none;">'+ this_order.id +'</span><p class="ui-li-desc">Bill #: '+ this_order.bill_number +'</p><p class="ui-li-desc">Seat: '+ this_order.seat_id +'</p><p class="ui-li-desc">Placed '+ this_order.delay +'</p></a>')
					};
				};
				remove_order(array_of_orders_id, data_ids);
			};
			function remove_order(posted, data) {
				for ( var i in posted) {
					var signal = $.inArray(posted[i], data)
					if ( signal == -1 ) {
						$('#'+ posted[i]).remove();
					};
				};
			};
		</script>
	</body>
</html>
