<h3 style="display: inline-block;">{{item.name}}</h3>
<p>{{item.description}} - {{item.price}}</p>
<label for="quantity">Order Quantity:</label>
<form action="{% url 'order' item.id item.client_id %}" method="POST">
	{% csrf_token %}
	<div data-role="controlgroup" data-type="horizontal">
	    <input type="number" name="quantity" id="quantity" value="1" min="1" data-wrapper-class="controlgroup-textinput ui-btn">
	    <button type="button" data-icon="minus" data-iconpos="notext" id="minus">Minus</button>
	    <button type="button" data-icon="plus" data-iconpos="notext" id="plus">Plus</button>
	</div>
	<input type="submit" value="Order" data-role="button"/>
</form>
