<h3 style="display: inline-block;">{{item.name}}</h3>
<p>{{item.description}} - {{item.price}}</p>
<label for="quantity">Order Quantity:</label>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
	{% if item.available %}
	    <button type="button" data-icon="minus" data-iconpos="notext" data-role="button" class="minus">Minus</button>
		<button type="button" data-role="button" class="quantity">1</button>
	    <button type="button" data-icon="plus" data-iconpos="notext" data-role="button" class="plus">Plus</button>
	{% else %}
		<button type="button" data-icon="minus" data-iconpos="notext" data-role="button" class="minus" disabled="">Minus</button>
		<button type="button" data-role="button" class="quantity" disabled="">1</button>
	    <button type="button" data-icon="plus" data-iconpos="notext" data-role="button" class="plus" disabled="">Plus</button>
	{% endif %}
</div>
<form action="{% url 'order' item.id item.client_id %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="quantity" id="quantity" value="1">
	{% if item.available %}
		<textarea name="comment" placeholder="Comment"></textarea>
		<button type="submit">Order</button>
	{% else %}
		<textarea name="comment" placeholder="This item is not available at the moment." disabled=""></textarea>
		<button type="submit" disabled="">Not Available</button>
	{% endif %}
</form>
