<form action="" method="post" id="seats_quantity_form">
	{% csrf_token %}
	Number of seats:<input type="number" value={{ seats|length }} min=1 name='quantity'>
	<input type="submit" value="Set" name="set_seats_quantity" class="btn btn-primary">
</form>
</br>
<!--
<div id="seats_div_wrapper">
	<div id="seats_div">
		{% for seat in seats %}
			<p>Seat {{ forloop.counter }}:</p><div class="qrcode" client={{ client }} seat={{ seat }}></div>
		{% endfor %}
	</div>
</div>-->

<p>{{ seats }}</p>
{% for room in seats %}
	<p>room: {{ room }}</p>
{% endfor %}
<div id="rooms_container">
	<div id="rooms">
		<ul>
			{% for room, content in seats %}
				<li><a href="#tabs-{{ forloop.counter }}">{{ room }}</a></li>
			{% endfor %}
		</ul>
		{% for room, content in seats %}
			<div id="tabs-{{ forloop.counter }}">
				<h4>{{ content.menu }}</h4>
				{% for seat in content.seats %}
					<p>{{ seat }}</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>