<h4>Change name:</h4>
<form action="" method="post" id="change_name_form">
	Name:
	{% csrf_token %}
	<input type="text" value="{{ client_name }}" name="name">
	<input type="submit" value="Change" name="change_name_form" class="btn btn-primary">
</form>
</br>

<form action="" method="post" id="change_password_form">
	{% csrf_token %}
	<h4>Change Password:</h4>
	<table>
		<tr>
			<td>
				Current Password:
			</td>
			<td>
				<input type="password" name="curr_pass">
			</td>
		</tr>
		<tr>
			<td>
				New Password:
			</td>
			<td>
				<input type="password" id="new_pass_1" name="pass">
			</td>
		</tr>
	</br>
		<tr>
			<td>
				Repeat new password:
			</td>
			<td>
				<input type="password" id="new_pass_2" name="password">
			</td>
		</tr>
	</table>
	<b><p id="validate-status"></p></b>
	<input type="submit" value="Save" class="btn btn-primary" name="change_password_form">
</form>
</br>

<div id="users-contain" class="ui-widget">
	<h4>Screen Credentials:</h4>
	<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			{% for user in screen_users %}
				<tr>
					<td class="screen_username">{{ user.username }}</td>
					<td><a data-toggle="modal" href="#change_screen_user_password_modal"><button type="button" class="btn btn-primary" id="change_screen_user_password_button">Change Password</button></a></td>
					<td><button type="button" class="btn btn-primary">Delete User</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Button trigger modal -->
<a data-toggle="modal" href="#create_screen_user_modal" class="btn btn-primary">Create new user</a>

<!-- Modal -->
<div class="modal fade" id="create_screen_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Screen User</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="create_screen_user_form">
					{% csrf_token %}
					<table>
						<tr>
							<td>
								Username:
							</td>
							<td>
								<input type="text" name="username">
							</td>
						</tr>
						<tr>
							<td>
								Password:
							</td>
							<td>
								<input type="password" name="password">
							</td>
						</tr>
					</table>
					<p id="create_screen_error"></p>
					<input type="submit" value="Create" name="add_item" class="btn btn-primary">
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="change_screen_user_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Change Screen User Password</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="change_screen_user_password_form">
					{% csrf_token %}
					<input type="hidden" value="" name="username" id="change_screen_user_password_username">
					<table>
						<tr>
							<td>
								New Password:
							</td>
							<td>
								<input type="text" id="screen_new_pass_1" name="pass">
							</td>
						</tr>
						<tr>
							<td>
								Repeat new password:
							</td>
							<td>
								<input type="text" id="screen_new_pass_2" name="password">
							</td>
						</tr>
					</table>
					<b><p id="validate-screen-status"></p></b>
					<input type="submit" value="Create" name="change_item" class="btn btn-primary">
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->