<!-- Buttons trigger modals -->
<a data-toggle="modal" href="#create_room_modal" class="btn btn-primary btn-lg" id="create_room_modal_button">Create Room</a>

<!-- Create Room Modal -->
<div class="modal fade" id="create_room_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Room</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" id="create_room_form">
					<div class="ajaxwrapper">
						{% csrf_token %}
						Room name:
						<input type="text" name="room_name" required>
						</br>
						Menu:
						<select name="menu">
							{% for menu in menus %}
								<option value="{{ menu.id }}">{{ menu.title }}</option>
							{% endfor %}
						</select>
					</div>
					<input type="submit" value="Create" name="create_room" class="btn btn-primary">
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="rooms_container">
	<div id="rooms">
		<ul>
			{% for room in seats %}
				<li><a href="#tabs-{{ forloop.counter }}">{{ room }}</a></li>
			{% endfor %}
		</ul>
		{% for room, content in seats.items %}
			<div id="tabs-{{ forloop.counter }}">
				<form action="" method="post" class="set_room_menu_form">
					{% csrf_token %}
					Menu:
					<select name="menu">
						{% for menu in menus %}
							{% ifequal menu.id content.menu %}
									<option value="{{ menu.id }}" selected>{{ menu.title }}</option>
							{% else %}
									<option value="{{ menu.id }}">{{ menu.title }}</option>
							{% endifequal %}
					{% endfor %}
					</select>
					<input type="hidden" value="{{ room }}" name="room">
					<input type="submit" value="Set" name="set_room_menu" class="btn btn-primary">
				</form>
				<form action="" method="post" class="create_seat_form">
					{% csrf_token %}
					<input type="hidden" value="{{ room }}" name="room">
					New seat:
					<input type="text" name="seat">
					<input type="submit" value="Create" name="create_seat" class="btn btn-primary">
				</form>
				<div class="seats_accordion">
					{% for seat in content.seats %}
						<h3>{{ seat }}</h3>
						<div>
							<div class="qrcode" client="{{ client }}" seat="{{ seat }}"></div>
							</br>
							<form action="" method="post" class="delete_seat_form">
								{% csrf_token %}
								<input type="hidden" value="{{ room }}" name="room">
								<input type="hidden" value="{{ seat }}" name="seat">
								<input type="submit" value="Delete" name="delete_seat" class="btn btn-primary">
							</form>
						</div>
					{% endfor %}
				</div>
				<form action="" method="post" class="delete_room_form">
					{% csrf_token %}
					<input type="hidden" value="{{ room }}" name="room">
					<input type="submit" value="Delete Room" name="delete_room" class="btn btn-primary">
				</form>
			</div>
		{% endfor %}
	</div>
</div>