<div data-role="page">
	<div data-role="header" data-theme="f" data-position="fixed" data-tap-toggle="false">
		{% include top_template %}
	</div>
	<div data-role="content">
		<div class="refresh_wrapper">
			<div class="refresh_container">
				<ul data-role="listview" data-theme="a" data-count-theme="a"
					data-filter="{{searchable}}">
					{% for order in orders %}
						{% include item_template %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div data-role="footer" data-theme="f" data-position="fixed">
		{% if bottom_template %}
			{% include bottom_template %}
		{% endif %}
	</div>
</div>