<h3>Bill #: {{bill.bill_number}}</h3>
<span class="order_id" style="display: none;">{{bill.id}}</span>
<p class="ui-li-desc">Status: {{bill.status}}</p>
<div data-role="controlgroup" data-type="horizontal" class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
	<div class="ui-controlgroup-controls">
		<a href="{% url 'bill_details' bill.id %}" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext">Edit</a>
		<a href="" class="ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext">Add Order</a>
		<a href="{% url 'orders_bill_number' bill.bill_number %}" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-notext">Info</a>
	</div>
</div>

