body {
    min-height: 1040px;
}
body[orient="portrait"] {min-height: 1024px;}
body[orient="landscape"] {min-height: 1000px;}

div[data-role="content"] {
    margin: auto;
}

.delay {
    float: right;
}

.car_slide {
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
}

.car_slide h3{
	color: white;
	text-shadow: 0 0 5px #000;
}

.car_slide p{
	color: white;
	text-shadow: 0 0 5px #000;
}

.car_slide label{
	color: white;
	text-shadow: 0 0 5px #000;
}

.rm_h {
	display: none;
}

.controlgroup-textinput{
	padding-top: .22em;
	padding-bottom: .22em;
}
