body {
    min-height: 1040px;
}
body[orient="portrait"] {min-height: 1024px;}
body[orient="landscape"] {min-height: 1000px;}

div[data-role="content"] {
    margin: auto;
}

.delay {
    float: right;
}

.car_slide {
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
}

.car_slide h3{
	color: white;
	text-shadow: 0 0 5px #000;
}

.car_slide p{
	color: white;
	text-shadow: 0 0 5px #000;
}

.car_slide label{
	color: white;
	text-shadow: 0 0 5px #000;
}

.rm_h {
	display: none;
}

.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px; 
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}
